* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h6 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    animation: changeShadowColor 10000ms infinite linear;
}

@keyframes changeShadowColor {
    0% {
        text-shadow: 1px 0 10px rgb(255, 0, 255);
    }
    20% {
        text-shadow: 1px 0 10px rgb(255, 0, 0);
    }
    40% {
        text-shadow: 1px 0 10px rgb(255, 196, 0);
    }
    60% {
        text-shadow: 1px 0 10px rgb(30, 255, 0);
    }
    80% {
        text-shadow: 1px 0 10px rgb(0, 21, 255);
    }
    100% {
        text-shadow: 1px 0 10px rgb(255, 0, 255);
    }
}

.btn {
    margin-top: 30px;
    width: 10%;
    height: 3rem;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
    transition: 200ms linear;
}

.btn:hover {
    box-shadow: 0 0 10px black;
}